@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* common styles */
.headings {
    width: 60%;
    text-align: center;
    margin: 90px auto 50px auto;
}
h2.heading{
color: rgb(13, 19, 33);
margin-bottom: 25px;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
p.sub-heading{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.row-reverse{
    flex-direction: row-reverse;
}

/* Hero section */
#hero{
    height: 752px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top, #ffffffba, #ffffffcc), url('./assets/jess-bailey-Bg3qkPDpopY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero-contents{
    width: 50%;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.hero-img{
    height: 173px;
    width: 228px;
}
h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
p.hero-sub{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 208px;
height: 66px;
border: none;
}
/* ===========Developement ================ */
.dev-contents {
    
    background: rgba(13, 19, 33, 0.02);
  
    padding: 21px 90px;
    padding: 30px 95px 90px 95px;
    margin-top: 80px;
}
.dev-content{
display: flex;
justify-content: space-between;
align-items: center;
padding: 48px;
background: #fff;
margin-bottom: 40px;
border-radius: 16px;
}
.dev-text{
    width: 50%;
}
.dev-text h3{
color: rgba(13, 19, 33, 0.7);

font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.dev-text p{
color: rgb(13, 19, 33);
margin: 25px 0;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: .7;
}
button.dev-btn{
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
width: 150px;
height: 48px;
color: rgb(13, 19, 33);
background-color: #fff;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


/* ===========Inspiration ================ */
iframe{
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}

/* ===========Target ================ */
/* ===========CTA section ================ */

/* ===========Footer ================ */
footer#footer{
    border-radius: 16px;
padding: 32px 0;
background: rgba(13, 19, 33, 0.03);
}
.footer-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    /* width: 36px;
height: 36px; */
}


.footer-text h4{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
